<!DOCTYPE html>
<html>
<head>
    {% load static %}
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.w3-sidebar {width: 120px;background: #222;}

#main {margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-black">

<!-- visualizacion de botones cuando la ventana es grande-->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  
  {% if not user.is_authenticated %}
  <a href="{% url 'Registrarse' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>REGISTRARSE</p>
  <a href="{% url 'Login' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>LOGUEARSE</p>
    {% endif %}
  {% if user.is_authenticated %}
    <p>Hola, {{user.username}}</p>
  
    
  <a href="{% url 'Inicio' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>INICIO</p>
  </a>
  <a href="{% url 'Tuitlear' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>TUITLEAR</p>
 
<a href="{% url 'Subir Avatar' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>SUBIR AVATAR</p>
<a href="{% url 'Editar Usuario' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>EDITAR USUARIO</p>
<a href="{% url 'Logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>CERRAR SESIÓN</p>
    {% endif %}
   
    
  </a>
</nav>

<!-- visualizacion de botones cuando la ventana es más pequeña -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
   
    {% if user.is_authenticated %}
     
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Inicio' %}">Inicio</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Tuitlear' %}">Tuitlear</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Subir Avatar' %}">Añadir Avatars</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Editar Usuario' %}">Editar Usuario</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Logout' %}">Cerrar Sesión</a>
    {% endif %}
    {% if not user.is_authenticated %}
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Registrarse' %}">Registrarse</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="{% url 'Login' %}">Iniciar Sesión</a>
    {% endif %}


    
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"> Bienvenido a Tuitlon.</h1>
    {% block contenidoQueCambia%}

    {% endblock %}
    <!-- About Section -->
 <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Conócenos</h2>
  <hr style="width:200px" class="w3-opacity">
  <p>Bienvenido, terrícola. Aquí podrás compartir de manera anónima tu comportamiento basado en condicionamiento
    junto con otros bípedos hechos a base de carbono al igual que tú.
    Let's enjoy.
  </p>
  <h3 class="w3-padding-16 w3-text-light-grey">Nuestra web</h3>
  
  
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Dudoso</span><br>
      Usuarios
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Más dudoso</span><br>
      Tuitls
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">0 :(</span><br>
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">100/100</span><br>
      Entusiasmo
    </div>
  </div>
    
  </header>
  
  
  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Buenos Aires, Argentina</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +549 1173611440</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: gonzalojaguinagalde@mail.com</p>
    </div><br>
    <p>Let's get in touch. Send me a message:</p>

   
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
